<div class="event-content">
  <% if (this.model.group().is_member()) { %>
    <button type="button" class="toggle-attendance"><%= buttonText %></button>
  <% } %>
  <%= event.escape('date')%>
  <%= event.escape('title')%>
  <%= event.escape('description')%>
  <%= event.escape('organizername') %>
  <ul class="comments-feed"></ul>
</div>

<div class="comments-index"></ul>
