<div class="m-background"></div>

<div class="m-content">
  <form class="event-form-fields" action="" method="post">

    <button class="close">&times;</button>
    <h4>New Event!</h4>
    <ul class="errors"></ul>

    <div class="form-group">
      <label for="title-field">Title</label><br>
      <input id="title-field" type="text" name="event[title]" value="<%= event.escape('title') %>">
    </div>

    <div class="form-group">
      <label for="location-field">Location</label><br>
      <input id="location-field" type="text" name="event[location]" value="<%= event.escape('location')%>">
    </div>

    <div class="form-group">
      <label for="description-field">Description</label><br>
      <textarea id="description-field" class="text-field" name="event[description]"><%= event.escape('description')%></textarea>
    </div>

    <div class="form-group">
      <label for="date-field">Date</label><br>
      <input id="date-field" type="date" name="event[date]" value="<%= event.formDate() %>">
    </div>

    <div class="form-group">
      <label for="time-field">Time</label><br>
      <input id="time-field" type="time" name="event[time]" value="<%= event.formTime() %>">
    </div>

    <input type="submit" class="btn btn-default" value="<%= verb %> Event" class="<%= verb %>-event">
  </form>
</div>
