<a href="/#groups/<%= event.escape('group_id') %>/events/<%= event.escape('id') %>">
  <div class="event-item container" data-event-id="<%= event.escape('id')%>">
    <div class="event-time col-md-3 col-xs-3">
      <%= event.itemTime() %>
      <div class="organizer-pic">
        <img src="<%= event.organizerPic %>"/>
      </div>
      <div class="organizer-name">
        <%= event.organizername %>
      </div>
    </div>
    <div class="event-information col-md-9 col-xs-9">
      <div class="event-group-title">
        <%= event.groupName %>
      </div>

      <div class="event-title">
        <%= event.escape('title') %>
      </div>

      <div class="event-attendees">
        <%= event.attendees().length %> <%= event.groupMemberName %> going.
      </div>
    </div>
  </div>
</a>
