<div class="event-content">
  <button type="button" class="toggle-attendance"><%= buttonText %></button>
  <%= event.escape('date')%>
  <%= event.escape('title')%>
  <%= event.escape('description')%>
  <%= event.escape('organizername') %>
  <ul class="comments-feed"></ul>
</div>
