<div class="event-content">
  <h2><%= event.escape('title')%></h2>
  <div class="event-show-date"><%= event.escape('date')%></div>
  <div class="event-info-group">
    <p>Description: <%= event.escape('description')%></p>
    <p>Location: <%= event.escape('location') %></p>
    <p>Organizer: <%= event.escape('organizername') %></p>
  </div>
  <div class="event-buttons-row">
    <button type="button" class="event-attendees btn btn-info">Who's going</button>
    <button type="button" class="event-comments btn btn-info">Comments</button>
    <% if (event.group().is_member()) { %>
      <button type="button" class="toggle-attendance btn btn-info"><%= buttonText %></button>
    <% } %>
  </div>
</div>

<div class="event-display-info"></div>

<div class="organizer-buttons-container">
  <% if(event.organizer) { %>
    <button type="button" class="delete-event btn btn-danger">Delete Event</button>
    <button type="button" class="edit-event btn btn-warning">Edit Event</button>
  <% } %>
</div>
