<div class="event-content">
  <p>Title: <%= event.escape('title')%></p>
  <p>When: <%= event.escape('date')%></p>
  <p>Description: <%= event.escape('description')%></p>
  <p>Location: <%= event.escape('location') %></p>
  <p>Organizer: <%= event.escape('organizername') %></p>
  <% if (this.model.group().is_member()) { %>
    <button type="button" class="toggle-attendance"><%= buttonText %></button>
  <% } %>
</div>

<div class="comments-index"></ul>
