<div class="m-background"></div>

<div class="m-content">
  <form class="group-form-fields" action="" method="post">

    <button class="close">&times;</button>
    <h4>Edit Group</h4>
    <ul class="errors"></ul>

    <div class="form-group">
      <label for="title-field">Title</label><br>
      <input id="title-field" type="text" name="group[title]" value="<%= group.escape('title') %>">
    </div>

    <div class="form-group">
      <label for="location-field">Location</label><br>
      <input id="location-field" type="text" name="group[location]" value="<%= group.escape('location')%>">
    </div>

    <div class="form-group">
      <label for="description-field">Description</label><br>
      <textarea id="description-field" class="text-field" name="group[description]"><%= group.escape('location')%></textarea>
    </div>

    <div class="form-group">
      <label for="member-name-field">Member Name</label><br>
      <input id="member-name-field" type="text" name="group[member_name]" value="<%= group.escape('member_name') %>">
    </div>

    <input type="submit" class="btn btn-primary" value="<%= verb %> Group" class="<%= verb %>-group">
  </form>
</div>
