<p>Location: <%= group.escape('location') %></p>
<img src="<%= group.profilePic().groupThumbnail($('.sidebar').width()) %>" />
<% if (group.owned) { %>
  <button type="button" class="btn btn-primary upload-image">Upload Group Image</button>
<% } %>
<p>About us: <br><%= group.escape('description') %></p>
<p>Organizer: <%= group.owner %></p>
<p>We're <%= group.members().models.length %> <%= group.escape('member_name')%></p>
<button type="button" class="toggle-membership btn btn-primary"><%= buttonText %></button>
<% if (group.owned) {%>
  <button type="button" class="edit-group btn btn-primary">Edit Group</button>
  <button type="button" class="new-event btn btn-primary">Create Event</button>
  <button type="button" class="delete-group btn btn-primary">Delete Group</button>
<% } %>
