<%if (group.profilePic().get('id')) { %>
  <img src="<%= group.profilePic().groupThumbnail($('.sidebar').width()) %>" />
<% } %>
<% if (group.owned) { %>
  <button type="button" class="btn btn-default upload-image">Upload Image</button>
<% } %>
<p>Location: <%= group.escape('location') %></p>
<p>About us: <br><%= group.escape('description') %></p>
<p>Organizer: <%= group.owner %></p>
<p>We're <%= group.members().models.length %> <%= group.escape('member_name')%></p>
<button type="button" class="toggle-membership btn btn-warning"><%= buttonText %></button>
<% if (group.owned) {%>
  <button type="button" class="edit-group btn btn-warning">Edit Group</button>
  <button type="button" class="new-event btn btn-info">Create Event</button>
  <button type="button" class="delete-group btn btn-danger">Delete Group</button>
<% } %>
