<h3>Group Info:</h3>
<p><img src="<%= group.images[0].image_url %>" /></p>
<p>About us: <br><%= group.escape('description') %></p>
<p>Location: <%= group.escape('location') %></p>
<p>Organizer: <%= group.owner %></p>
<p>We're <%= group.members().models.length %> <%= group.escape('member_name')%></p>
<button type="button" class="toggle-membership"><%= buttonText %></button>
<% if (group.owned) {%>
  <button type="button" class="edit-group">Edit Group</button>
  <button type="button" class="new-event">Create Event</button>
<% } %>
